{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="container-fluid">    
    <div class="jumbotron bg-dark">
        <h1 class="text-center text-white">PROJET NUMERO1</h1>       
    </div>    
</div>
<div class="invisible" id="key">{{ (key) }}</div>
<div class="container">   
    <div class="mb-5 text-right">
        <button type="button" class="btn btn-primary previous"><i class="fas fa-step-backward"></i></button>
        <span class="" id="currentMonth">{{ currentMonth }}</span>
        <div class="btn btn-primary next"><i class="fas fa-step-forward"></i></div>    
    </div>
    <table id="example" class="display " style="width:100%">
        <thead>           
            <tr>
                <th></th>                               
                {% for calendar in calendars %}
                    <th>{{ calendar }}</th>                    
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {# {% for work in works %}
            <tr>{% for row in work %}
                <td class="edit-for"> {{ row }}</td>
                {% endfor %} 
            </tr>
            {% endfor %}  #}
        </tbody>
        {# <tfoot>
            <tr>
                <th></th>
                {% for calendar in calendars %}
                    <th>{{ calendar }}</th>                    
                {% endfor %}
            </tr>
        </tfoot>        #}
    </table>    
</div>
{% endblock %}
